.message-history {
    grid-area: messageHistory;
    height:100%;
    width: 100%;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(180deg);
    direction: rtl;
    padding: 20px 20px 0 20px;
    
}

.message-history::-webkit-scrollbar {
    width: 1em;
}
   
.message-history::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.message-history::-webkit-scrollbar-thumb {
    background-color: rgb(0, 32, 80);
    outline: 1px solid rgb(3, 14, 29);
}

.text-gap {
    display: grid;
    gap: 10px;
}

.message-history-reverse {
    display: grid;
    transform: rotate(180deg);
    gap: 10px;
}

.translate-bubble-container{
    display: flex;
    justify-content: flex-start;
}

.translate-bubble-container div {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(236, 216, 189);
    background-color: rgb(239, 231, 221);
    word-wrap: break-word;
    max-width: 50%;
}


.text-bubble-container {
    display: flex;
    justify-content: flex-end;
}

.text-bubble-container div{
    display: inline-block;
    word-wrap: break-word;
    max-width: 50%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(107, 194, 49);
    background-color: rgb(133, 226, 73);
}