.select-element {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(40, 78, 134);
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(76, 111, 163) solid;

}

.select-header {
    color: white;
}

.target-element {
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(40, 78, 134);
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px rgb(76, 111, 163) solid;
}

.target-header {
    color: white;
}